---
import Navigator from '../components/Navigator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">
	<section class="bg-red-600 flex flex-col">
		<h1>últimos Posts</h1>
		<img src="/favicon.svg" alt="" class="w-[250px]">
	</section>

	<section>
		<Navigator />
	</section>
</Layout>