---
import Card1 from '../components/Card1.astro';	
import Card3 from '../components/Card3.astro';
import Navigator from '../components/Navigator.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">

	<section class="bg-red-600 flex flex-col">
		<Title title="Últimos Posts" />
		<img src="/favicon.svg" alt="" class="w-[250px]">
	</section>

	<section>
		<Navigator />

		<!-- <section class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-[1800px] m-auto gap-x-9 gap-y-14 py-9">
			<Card2 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
			<Card1 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
			<Card1 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
			<Card3 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
		</section> -->

		<!-- <section class="grid grid-cols-4 max-w-[1800px] m-auto gap-x-9 gap-y-14 py-9"> -->
		<section class="flex flex-col justify-start w-3/4 max-w-[1800px] gap-y-8 pt-8">

		

			<Card3
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
				description="	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio. Dolores quis, sit laborum repellat dignissimos optio"
			/>
			<Card3
				image="/photo-post.avif"
				category="Tokio"
				title=" La primavera tokiota en su máximo esplendor"
				description="	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio."
			/>
			<Card3
				image="/Infidelidad.webp"
				category="Infidelidades"
				title="Infidelidad: causas, tipos y soluciones"
				description="	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio."
			/>
			<Card3
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio. Dolores quis, sit laborum repellat dignissimos optio"
			/>
	</section>
</Layout>