---
import BannerPost from "../components/BannerPost.astro";
import Paragraph from "../components/Paragraph.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Post">
  <article>

    <Title title= "Mi publicación" />
    <BannerPost />

    <section>
      <Paragraph>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolores cum, atque placeat, iste quia sed ab eveniet odio ipsum dignissimos non recusandae molestiae voluptates tempora? Inventore dolorum culpa sequi?
        Nisi, eos praesentium. Dolores eos reiciendis saepe ducimus natus tenetur labore maiores molestias nesciunt dolorum ad commodi corrupti delectus modi, dolor est consectetur laboriosam, tempore fuga voluptates obcaecati ab itaque.
        Vero temporibus aperiam libero numquam, rerum alias! Earum quae error optio mollitia possimus rerum modi accusantium delectus facilis! Obcaecati quae iste aliquam quam nihil et aperiam qui in unde cumque.
        Similique, nulla quasi saepe debitis nesciunt maxime odit, quisquam iste, dicta earum quas eaque alias quam quo? Et, a. Ipsum, modi. Eaque iusto consequatur esse maxime, perferendis nesciunt optio reiciendis.
        Similique voluptatum cupiditate consectetur praesentium quo reprehenderit deserunt, quam maiores quod eum dolorem eius saepe cum omnis ducimus eaque, ipsum minus. Enim laudantium amet commodi. Et maiores molestiae odit molestias!
      </Paragraph>
      <Paragraph>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nam fuga voluptatem, rem architecto nesciunt aut harum excepturi distinctio numquam similique quaerat aliquid doloribus mollitia enim. Est sunt totam amet?
        Voluptatibus laudantium unde ea excepturi. Iure maxime obcaecati atque odio explicabo ab suscipit, molestias sit voluptatum nihil ipsa dolor, reiciendis quia consequuntur rem. Explicabo molestiae soluta nihil impedit! Voluptatum, aspernatur?
        Cumque voluptatem sed nobis cupiditate ut? Consectetur unde modi, odit, labore dolor repellat reiciendis quos amet vitae quod quae eaque velit esse, omnis nihil dolore fugiat deleniti. Quam, hic ullam?
        Quo recusandae illum quis quas delectus perferendis accusantium voluptatum veniam dolore molestias. Voluptas ut nobis in odit commodi nam tempore, repellat maiores inventore atque eius totam, veniam dignissimos blanditiis illo!
        Nam earum laborum, fugiat eos et voluptatem labore. Deleniti, veniam beatae neque itaque quam pariatur consequuntur veritatis asperiores accusamus reprehenderit nihil odio quos rerum, blanditiis exercitationem assumenda, ad dolorem magni!
        Distinctio consequuntur, quod obcaecati ipsum velit, minus fugiat sequi atque suscipit delectus aliquam quae cumque recusandae esse impedit maxime accusantium necessitatibus aperiam autem nam dolores officiis ad culpa laudantium! Pariatur.
      </Paragraph>
    </section>

  </article>

  <section class="my-8">
    <h2 class="text-xl">
      <strong>También te podría interesar</strong>
    </h2>

  </section>
</Layout>