---
import Autor from './Autor.astro';

interface Props{
  image: string;
  category: string;
  title: string; 
}

const { image, category,title } = Astro.props
---

<div class="flex flex-col max-w-5xl mx-auto min-w-full cursor-pointer" >
  <div class="relative">
    <img src={image} alt="" class="rounded-t-3xl">
    <div class="flex flex-row absolute bottom-0 right-0">
      <Autor/>
      <Autor/>
    </div>
  </div>
  <div class="flex flex-col bg-white/10 p-4 rounded-b-xl font-bold mb-12 gap-2">
    <a href="">
      <h7 class= "uppercase text-xs font-semibold py-1 px-2 rounded-md bg-white/60 hover:bg-white/10">{category}</h7>
    </a>
    <h4 class="text-xl font-bold py-2 px-1">
      {title}
    </h4>

  
  </div>
</div>