---
import Autor from './Autor.astro';
import Button from './Button.astro';

interface Props{
  image: string;
  category: string;
  title: string;
  description: string;
}

const { image, category,title,description } = Astro.props
---

<div id="card" class="grid grid-cols-2 relative rounded-3xl bg-[var(--background-color-card)] h-[350px] col-span-3 gap-[2.5rem]" >

  <div id="contenedor_imagen" class="relative flex-grow">
    <img src={image} alt="" class="rounded-3xl object-cover h-full" >
    <div class="flex flex-row absolute bottom-0 right-0 pb-0 pr-1">
      <Autor  parametro1="Written by" parametro2="Andres Viancha"/>
    </div>
  </div>

  <div class="flex flex-col font-bold py-5 pr-5 gap-2">
    <a href="">
      <h6 class= "w-fit uppercase text-xs text-[var(--color-category-text)] font-semibold py-1 px-2 rounded-md bg-[var(--color-category-bg)]   hover:bg-white/10 hover:text-white inline-block">{category}</h6>
    </a>
    <h3 class="text-[1.75rem] font-bold py-1 px-1">
      {title}
    </h3>
    <p class="font-light">
      {description}
    </p>

    <div class= "flex text-[var(--color-category-text)] font-normal justify-center pt-10">
      <Button text="Leer más" style="secondary" href=""/>
    </div>
  </div>
</div>

<style>
#card #contenedor_imagen > div{
  visibility: hidden;
  opacity: 0%;
  transform: translatey(11%);
  transition: 0.7s;
}
/* #contenedor_imagen:hover > div{
  visibility: visible;
  opacity: 100%;
  transform: translatey(-10%);
}
#contenedor_imagen:hover > img{
  filter: brightness(60%);
}  */


#card:hover #contenedor_imagen > div{
  visibility: visible;
  opacity: 100%;
  transform: translatey(-10%);
}

#card #contenedor_imagen > img{
  /* transition: filter 700ms ease-in-out; */
  /* transition: all 700ms ease-in-out; */
  transition: 0.3s;
}
#card:hover #contenedor_imagen > img{
  filter: brightness(60%);
  /* opacity: 0.6; */
}


</style>
