---
import Link from './Link.astro';

const { categories } = Astro.props
---

<nav class="flex flex-col gap-3">
  <h3>Categories</h3>
  <ul class="flex flex-col gap-y-2">
    {
      categories.map(category => (
      <li>
        <Link
          text= {category.name}
          href= {category.href}
          icon= {category.icon}
        />
      </li>
      ))
    }
  </ul>
</nav>