---
// import { Icon } from 'astro-icon'
import Link from './Link.astro';

const { categories } = Astro.props

---

<nav class="flex flex-col gap-3">
  <h3>Categories</h3>
  <ul class="flex flex-col gap-y-2">
    <!-- <li class="py-1 px-2 hover:underline rounded-md hover:bg-[var(--secondary-color)] hover:text-[var(--background-color)] transition-color ease-in-out duration-100"> -->



    <!-- <li>
      <Link
        text= "Home"
        href= "/"
        icon= "ic:outline-search"
      />
    </li>
    <li>
      <Link
        text= "Search"
        href= "/"
        icon= "ic:outline-search"
      />
    </li>
    <li>
      <Link
        text= "Advanced"
        href= "/"
        icon= "ic:outline-search"
      />
    </li> -->

    {
      categories.map(category => (
      <li>
        <Link
          text= {category.name}
          href= {category.href}
          icon= {category.icon}
        />
      </li>
      ))
    }

  </ul>






  <!-- <Link
    text="Tecnología"
    href="/"
  />
  <Link
    text="Anime"
    href="/"
  />
  <Link
    text="industria"
    href="/"
  /> -->
</nav>