--- 
import { Icon } from "astro-icon";
import Roulette from "./Roulette.astro";
import { getMatchData } from "../utils/filters";


const allPosts = await Astro.glob("../pages/post/*md")
const allCategories = await getMatchData(allPosts, "CATEGORY")

const relevantCategories = allCategories.sort(()=> Math.random() - 0.5).slice(0,5)


---





<footer class="pt-16 md:pt-24">
  <div class="flex flex-col items-center bg-[var(--background-color)] border-t border-emerald-200 pt-4">
    <h3 class="text-[1.5rem] font-bold">Blog Personal</h3>
    <!-- <p class="text-center px-28 pt-5 w-10/12">
      Descubre contenido fascinante y enriquecedor en nuestra página web de blogs. Explora una amplia variedad de temas, desde tecnología y ciencia hasta estilo de vida y viajes. Únete a nuestra comunidad, comparte tus ideas y comentarios, y sumérgete en un mundo de nuevas perspectivas, inspiración y conocimiento. ¡Explora los blogs y déjate llevar por la aventura!
    </p> -->
    <Roulette categories={relevantCategories}/>
    <ul class="flex flex-row pt-6 items-center gap-1  border-b-2 border-b-[var(--color-text)] ">
      <li aria-label="Logo Facebook" class="hover:text-[#1778F2] hover:-translate-y-2 hover:animate-bounce"><a href="/"><Icon name="mdi:facebook-box" width="35"/></a></li>
      <li aria-label="Logo GitHub" class="hover:text-slate-500 hover:-translate-y-2 hover:animate-bounce"><a href="/"><Icon name="mdi:github-box" width="35"/></a></li>
      <li aria-label="Logo Gmail" class="hover:text-red-500 hover:-translate-y-2 hover:animate-bounce"><a href="/"><Icon name="bx:bxl-gmail" width="33"/></a></li>
      <li aria-label="Logo twitter" class="hover:text-[#00ACEE] hover:-translate-y-2 hover:animate-bounce"><a href="/"><Icon name="mdi:twitter-box" width="35"/></a></li>
      <li aria-label="Logo Linkedin" class="pl-1 hover:text-[#0072B1] hover:-translate-y-2 hover:animate-bounce"><a href="/"><Icon name="uiw:linkedin" width="27"/></a></li>
    </ul>

    <div class="pt-8 text-[var(--color-text)] opacity-60 text-[14px] pb-4 text-center px-4 sm:px-0">
      <p>Copyright &copy;2023 | AVC.company.org | Designed by AVC.company.org | Todos los Derechos Reservados</p>

    </div>
  </div>
</footer>
