---
import Button from "./Button.astro";

---

<header class="flex justify-between items-center py-4 px-2 bg-[var(--background-color)] shadow-xl">
  <div class="flex items-center gap-2">
    <a href="/" class="flex items-center">
      <img src="/favicon.svg" alt="Logo Blog">
      <span>Blog</span>
    </a>
  </div>

  <div>
    <button id="btn-changeThemeColor">
      Cambiar Color
    </button>
  </div>
</header>

<script>
  const btnChangeThemeColor = document.querySelector("#btn-changeThemeColor")
  btnChangeThemeColor.addEventListener("click", () => {
    document.body.classList.toggle("light-theme")   
  })
</script>