---
import Button from "./Button.astro";

---

<header class="flex justify-between items-center py-4 px-2 bg-[var(----dark-background-color)] shadow-xl">
  <div class="flex items-center gap-2">
    <img src="/favicon.svg" alt="Logo Blog">
    <span>Blog</span>
  </div>

  <div>
    <button>
      Cambiar Color
    </button>

    <Button 
      text="Holaaaaa"
      href="/"
      style="primary" 
    />
  </div>
</header>