---
import Button from "./Button.astro";
import ButtonMode from "./ButtonMode.astro";

---

<header class="flex justify-between items-center py-4 px-2 bg-[var(--background-color)] shadow-xl">
  <div class="flex items-center gap-2">
    <a href="/" class="flex items-center">
      <img src="/favicon.svg" alt="Logo Blog">
      <span class="text-xl font-black ">Blog</span>
    </a>
  </div>

  <div>
    <ButtonMode/>
  </div>
</header>
