---
import ButtonMode from "./ButtonMode.astro";
import Link from "./Link.astro";
import LogoPage from "./LogoPage.astro";
---

<header class="flex justify-between items-center py-4 px-4 bg-[var(--background-color)] shadow-xl">
  <div class="flex items-center gap-2">
    <LogoPage />
  </div>

  <div class="hidden sm:block">
    <div class="flex gap-4 sm:gap-8">

      <Link 
        text="Publicaciones"
        href="/post"
        icon="mdi:bookshelf"
        useColor={false}
      />
  
      <ButtonMode/>
    </div>
  </div>

  <div class="block sm:hidden">
      <button id="toggleMenuBar">
        <div class="flex flex-col gap-1.5">
          <span class="block h-0.5 w-8 bg-[var(--secondary-color)]"></span>
          <span class="block h-0.5 w-8 bg-[var(--secondary-color)]"></span>
          <span class="block h-0.5 w-8 bg-[var(--secondary-color)]"></span>
        </div>
      </button>
      <div id="menuBar" class="hidden absolute right-4 top-[80px] z-10">
        <div class="flex flex-col gap-4 bg-[var(--background-color-card)] p-4 rounded-md border-[1px] border-[var(--secondary-color)]">
          <Link 
            text="Publicaciones"
            href="/post"
            icon="mdi:bookshelf"
            useColor={false}
          />
      
          <ButtonMode/>
        </div>
      </div>
  </div>
</header>


<style>
.texLogo{
  letter-spacing: -.0.7em;
  line-height: 1.1;
}
</style>

<script>
  const toggleMenuBar = document.querySelector("#toggleMenuBar")
  const menuBar = document.querySelector("#menuBar")
  toggleMenuBar.addEventListener("click", () => {
    menuBar.classList.toggle("hidden")
  })
</script>
