---
interface Props{
  keyWord?: string;
  message: string;
}

const{
  keyWord,
  message
} = Astro.props;

---

<div class="flex flex-col border-l-2 py-1 px-2 mb-2 text-xs text-[var(--color-info-text)]">
  <span class="text-[0.5rem]">
    {keyWord}
  </span>
  <span class=text-[0.7rem]">
    {message}
  </span>
</div>
