---

interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props
---

<a 
  class="font-bold hover:underline hover:underline-offset-4 hover:text-[var(--primary-color)] text-sm"
  {href}
  >
  {text}
</a>

