---
import { Icon } from 'astro-icon'

interface Props {
  text: string;
  href: string;
  icon?: string;
  useColor?: boolean;
}

const {
  text, 
  href, 
  icon,
  useColor = true
} = Astro.props
---


<a 
  {href}
  class=`flex items-center gap-1 py-1 rounded-md hover:underline
  ${useColor && "hover:bg-[var(--secondary-color)] hover:text-[var(--background-color)] px-2"}`
>
  {
    icon &&
    <span>
      <Icon
        name={icon}
        width="20"
      />
    </span>
  }
  {text}
</a>
