---

---

<a href="/" class="flex items-center ">
  <img class="h-12 w-14 z-0 -rotate-45"  src="/Logo.png" alt="Logo Vlogify">
  <span class="texLogo text-[1.7rem] font-black tracking-tighter  z-10 -translate-x-2.5 translate-y-1">logify</span>
</a>