---
interface Props{
  value: string;
  keyWord?: string;
  size:string;
}

const {value,keyWord,size} = Astro.props;

---
<div class="flex font-black">
  <h1 class="text-[45px] px-4 leading-[4.5rem] sm:text-[70px]  md:px-0 break-words">
      {keyWord}

    <span id="span_Efect" style=`--content: "${value}"; --start-color: #007CF0; --end-color: #00DFD8  ` class=`text-[${size}px] block uppercase md:pl-24 pb-12`>  
      {value}  
    </span>
  </h1>
</div>


<style>
h1{
  letter-spacing: -.05em;
  line-height: 1.1;
}
span {
  animation: fluido 7s ease-in-out infinite alternate;
  animation-timing-function: linear;
  background: linear-gradient(90deg, #00DFD8,#007CF0,#7928CA, #FF0080,#FF4D4D,#F9CB28);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -.06em;
  line-height: 1.2;
}

@keyframes fluido {
  0%{background-position: left;}
  100%{background-position: right;}
}
</style>
