---
interface Props{
  primary_title: string;
  complement: string;
}

const {primary_title,complement} = Astro.props;

---
<h1 class="font-black ">
  <span class="text-[70px]">
    {primary_title}
  </span>

  <span class="text-[100px]">  
    {complement} 
  </span>
</h1>

<style>
</style>
