---
import { Icon } from 'astro-icon'
---

<fieldset class="relative text-[var(--secondary-color)] ">
  <input
    type="search"
    placeholder="Search what you want"
    class="h-full w-full outline-none text-sm text-gray-700 pl-8 rounded-md min-h-[32px]"
  />
  <span class="absolute left-2 top-[calc(50%-15px)] w-[20px] flex items-center min-h-[32px]">
    <Icon name="ic:outline-search" width="20"/>
  </span>
</fieldset>
