---
import Button from '../components/Button.astro';
import Card1 from '../components/Card1.astro';
import Header from '../components/Header.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog personal | {title}</title>
	</head>
	<body>
		<Header />
		
		<main>
			<slot />
		</main>

	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		
		--background-color: #1f2023;
		--background-color-card: #363739; 
		--primary-color: #726EFF;
		--secondary-color: #00ec96;
		--color-text: white;
		--color-info-text: white;
		--color-category-bg: #00ec96;
		--color-category-text: rgb(0, 0, 0); 

		--shadow-color: 289deg 4% 20%;
		--shadow-elevation-high:
    /* 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.19),
    0.8px 1.5px 2px -0.2px hsl(var(--shadow-color) / 0.2),
    1.3px 2.6px 3.4px -0.5px hsl(var(--shadow-color) / 0.2),
    1.9px 3.9px 5.1px -0.7px hsl(var(--shadow-color) / 0.21),
    2.8px 5.5px 7.3px -0.9px hsl(var(--shadow-color) / 0.22),
    3.9px 7.8px 10.3px -1.2px hsl(var(--shadow-color) / 0.22),
    5.4px 10.8px 14.3px -1.4px hsl(var(--shadow-color) / 0.23),
    7.4px 14.9px 19.7px -1.6px hsl(var(--shadow-color) / 0.24),
    10.1px 20.3px 26.9px -1.9px hsl(var(--shadow-color) / 0.25),
    13.5px 27.1px 35.9px -2.1px hsl(var(--shadow-color) / 0.25); */


		0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
	}	
	html {
		font-family: system-ui, sans-serif;
	}

	body {
		background-color: var(--background-color);
		color: var(--color-text); 
	}
	main {
		min-width: 350px;
		max-width: 1200px;
		padding: 2rem;
		margin: auto;
	}

	.light-theme {
		--background-color: #ebf8fd;
		--background-color-card: #D7DBDD ;  
		--primary-color: #0e0b74;
		--secondary-color: #212121;
		--color-text: rgb(0, 0, 0); 
		--shadow-color: 289deg 4% 20%; 

	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
